﻿@model IEnumerable<ECommerceShop.Models.Book>

@{
    ViewData["Title"] = "Discount";
}

<h2>Apply a 15% discount!</h2>
<div>



    < <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => 15 / 100 * item.Price)
                    </td>

                </tr>

            }



        </tbody>

    </table>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
