﻿@model IEnumerable<ECommerceShop.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Add a new book</a>
    </p>
    } 

    <table class="table">
        <thead>
            <tr>
                <th>
                   
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                
                <td>
                    <img src="~/carti.png" width=" 100" height="30"/>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="/Books/AddProduct?Price=@item.Price&Id=@item.BookId"><button class="btn btn-success">Add to cart</button></a>
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete </a>
                    }

                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |





                </td>

            </tr>
            }
        </tbody>
    </table>
