﻿<h1>
    

            
                    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
                    {
                        @Html.TextBox("book");
                        <input type="submit" value="Search" />
                    }
          
    

</h1>