﻿@model IEnumerable<ECommerceShop.ViewModels.ProductQuantityViewModel>


<h2 style="color:black">My Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/carti.png" width=" 100" height="30" />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a href="/Books/RemoveProductFromShoppingCart?Price=@item.Price&Id=@item.Id"><button class="btn btn-danger">-</button></a>
                    <a href="/Books/AddProductToShoppingCart?Price=@item.Price&Id=@item.Id"><button class="btn btn-success">+</button></a>
                    <a href="/Books/RemoveProduct?Price=@item.Price&Id=@item.Id"><button class="btn btn-info"><i class="fa fa-trash"></i></button></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<style>




    .button {
        border-radius: 4px;
        background-color: rgba(6, 1, 4, 0.69);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 300px;
        height: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 1s;
            margin-left: auto;
            margin-right: auto;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>

    <a asp-action="Index" asp-controller="Books"> <button class="button btn btn-black"><span>Back to books</span></button></a>
    
    <td>
        <a href="/Books/SeeMyProducts"> <button class="button btn btn-black"><span>Proceed to checkout</span></button></a>
    </td>
    



