﻿@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>



<style>




    .button {
        border-radius: 4px;
        background-color: rgba(6, 1, 4, 0.69);
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 300px;
        height: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 1s;
            margin-left: auto;
            margin-right: auto;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<h1>
    <a asp-action="Index" asp-controller="Books"> <button class="button btn btn-black"><span>ViewBooks</span></button></a>
    <a href="/Books/SeeMyProducts"> <button class="button btn btn-black"><span>ViewShoppingCart</span></button></a>
    <a href="/Books/Search">Looking for a book?</a>




</h1>
<h2>


    <a href="~/net.html">Get help, get book!</a>

</h2>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Best seller <small>top books</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/osho.jpg" />

            <div class="caption">
                <h5>
                    Osho Iluminare
                </h5>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
</div>











