﻿
@model ECommerceShop.ViewModels.ShoppingCartViewModel

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="/Books/SeeMyProducts">
    <button type="button" class="btn btn-primary">
        <i class="fa fa-shopping-cart" style="font-size: 20px"></i><span class='badge badge-warning' id='lblCartCount'>@Model.NoOfItems </span>
    </button>
</a>    
<li class="btn btn-link navbar-btn navbar-link">@Model.TotalPrice$ </li>

<style>
    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        font-size: 15px;
    }

    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }

    #lblCartCount {
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
</style>